<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="../pages/index.html">
            <img src="../assets/images/logo1.jpg" alt="Digital Sutar Mandi" height="40">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../pages/index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../pages/marketplace.html">Marketplace</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../pages/home-broker.html">Broker Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../pages/home-manufacturer.html">Manufacturer Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../pages/home-supplier.html">Supplier Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../pages/home-wholesaler.html">Wholesaler Dashboard</a>
                </li>
            </ul>
            <div class="d-flex align-items-center">
                <button class="btn btn-outline-primary me-2" id="languageToggle">
                    <i class="fas fa-language"></i> اردو
                </button>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="userDropdown" data-bs-toggle="dropdown">
                        <i class="fas fa-user"></i> My Account
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><a class="dropdown-item" href="#">Orders</a></li>
                        <li><a class="dropdown-item" href="#">Messages</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#" id="logoutBtn">Sign Out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav> 